<nav class="sidemenu">
  <h1 class="sidemenu-title color-00">SLACA 2019</h1>
  <div>
    <img src="../../../assets/imgs/jpg/slaca-13-img.jpg" width="220" width="258" alt="Logo 13 SLACA">
  </div>
  <nav>
    <ul class="sidemenu-menu">
      <li class="sidemenu-menu-item">
        <a href="#">Apresentação</a>
      </li>
      <li class="sidemenu-menu-item">
        <a href="#">Comitês</a>
      </li>
      <li class="sidemenu-menu-item">
        <a href="#">Autores</a>
      </li>
      <li class="sidemenu-menu-item">
        <a href="#">Eixos temáticos</a>
      </li>
      <li class="sidemenu-menu-item">
        <a href="#">Trabalhos</a>
      </li>
      <li class="sidemenu-menu-item">
        <a href="#">Contato</a>
      </li>
    </ul>
  </nav>
</nav>
