<header class="header">
  <div class="header-titles">
    <p class="header-title-first">Anais do Simpósio Latino Americano de Ciências de Alimentos</p>
    <p class="header-title-second">Anais do 13º Simpósio Latino Americano de Ciência de Alimentos</p>
    <p class="header-title-third">ISSN: 1234-5678</p>
  </div>
    <select class="header-language">
      <option class="header-language-item">PT, BR</option>
      <option class="header-language-item">EN, US</option>
    </select>
  <div class="header-profile">
    <p class="header-profile-welcome">Bem vindo!</p>
    <p class="header-profile-email">alguem12@galoascience.com</p>
    <div class="header-profile-picture">
      <img src="../../../assets/imgs/jpg/pessoa-que-nao-existe.jpg" width="32" height="30" alt="Foto de perfil arredondada de uma pessoa que não existe">
    </div>
  </div>
</header>
