:root {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  width: 1366px;
  margin: 0px auto;

  --color-00: #FFFFFF;
  --color-01: #725C5C;
  --color-02: #FDF1EB;
  --color-03: #333333;
  --color-04: #CCCCCC;
  --color-05: #F5F5F5;
  --color-06: #ED7839;
  --color-07: #4E4E4E;
  --color-08: #ECECEC;
  --color-09: #5C5C5C;
  --color-10: #BFBFBF;
  --color-11: #ADA0A0;
  --color-12: #595959;
  --color-13: #757575;
  --color-14: #707070;
  --color-15: #E7E7E7;
}

.color-00 {
  color: var(--color-00);
}

.color-01 {
  color: var(--color-01);
}

.color-02 {
  color: var(--color-02);
}

.color-03 {
  color: var(--color-03);
}

.color-04 {
  color: var(--color-04);
}

.color-05 {
  color: var(--color-05);
}

.color-06 {
  color: var(--color-06);
}

.color-07 {
  color: var(--color-07);
}

.color-08 {
  color: var(--color-08);
}

.color-09 {
  color: var(--color-09);
}

.color-10 {
  color: var(--color-10);
}

.color-11 {
  color: var(--color-11);
}

.color-12 {
  color: var(--color-12);
}

.color-13 {
  color: var(--color-13);
}

.color-14 {
  color: var(--color-14);
}

.color-15 {
  color: var(--color-15);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
